In [4]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [5]:
df = pd.read_csv('synthetic_beverage_sales_data.csv')

In [9]:
df.head()

,Order_ID,Customer_ID,Customer_Type,Product,Category,Unit_Price,Quantity,Discount,Total_Price,Region,Order_Date
0,ORD1,CUS1496,B2B,Vio Wasser,Water,1.66,53,0.10,79.18,Baden-Württemberg,2023-08-23
1,ORD1,CUS1496,B2B,Evian,Water,1.56,90,0.10,126.36,Baden-Württemberg,2023-08-23
2,ORD1,CUS1496,B2B,Sprite,Soft Drinks,1.17,73,0.05,81.14,Baden-Württemberg,2023-08-23
3,ORD1,CUS1496,B2B,Rauch Multivitamin,Juices,3.22,59,0.10,170.98,Baden-Württemberg,2023-08-23
4,ORD1,CUS1496,B2B,Gerolsteiner,Water,0.87,35,0.10,27.40,Baden-Württemberg,2023-08-23

In [10]:
print(df.isnull().sum())

Order_ID         0
Customer_ID      0
Customer_Type    0
Product          0
Category         0
Unit_Price       0
Quantity         0
Discount         0
Total_Price      0
Region           0
Order_Date       0
dtype: int64

In [8]:
# Renaming columns according to snake casing for better readability and documentation

print(df.columns == df.columns.str.lower())
print(df.columns == df.columns.str.replace(' ','_'))
print(df == df.rename(columns={'purchase_amount_(usd)':'purchase_amount'}))

[False False False False False False False False False False False]
[ True  True  True  True  True  True  True  True  True  True  True]
         Order_ID  Customer_ID  Customer_Type  Product  Category  Unit_Price  \
0            True         True           True     True      True        True
1            True         True           True     True      True        True
2            True         True           True     True      True        True
3            True         True           True     True      True        True
4            True         True           True     True      True        True
...           ...          ...            ...      ...       ...         ...
8999905      True         True           True     True      True        True
8999906      True         True           True     True      True        True
8999907      True         True           True     True      True        True
8999908      True         True           True     True      True        True
8999909      True         True           True     True      True        True

         Quantity  Discount  Total_Price  Region  Order_Date
0            True      True         True    True        True
1            True      True         True    True        True
2            True      True         True    True        True
3            True      True         True    True        True
4            True      True         True    True        True
...           ...       ...          ...     ...         ...
8999905      True      True         True    True        True
8999906      True      True         True    True        True
8999907      True      True         True    True        True
8999908      True      True         True    True        True
8999909      True      True         True    True        True

[8999910 rows x 11 columns]